#formeditprofil .panel-body
{
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
}

#formprofil .panel-body
{
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
}

#formeditprofil #img1
{
	margin-top: 60px;
}



