#profilpembeli .container
{
	margin-top: 100px;
	margin-bottom: 100px;
}

#tabelriwayat
{
	margin-bottom: 100px;
}

#keranjangbelanja
{
	margin-bottom: 100px;
}

#formpengiriman
{
	margin-top: 100px;
}

#formpengiriman textarea
{
	width: 1000px;
	height: 100px;
}

