/* --- BAGIAN IRA --- */
a{
	color: #fff;
}
#body{
    background: #ecf0f1;
}
.section1 .carousel-inner{
	height: 595px; 
}
.section1 .carousel-inner .carousel-item img{
	height: 595px;
}
.section2{
    margin-top: 30px;
}
.section2 .kiri{
    background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 200px;
    font-weight: 700;
    color: #fff;
}
.section2 .kanan{
    background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 200px;
    font-weight: 700;
    color: #fff;
}




/* --- BAGIAN BUGI --- */